

.my-spider-link-wrap .my-spider-spread-image,
.my-spider-link-wrap .my-spider-link-next,
.my-spider-link-wrap .my-spider-loading-huihui-data{
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    border-radius: 3px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 14px;
    display: none;
    z-index: 99999999999;
}
.my-spider-link-wrap .my-spider-loading-huihui-data{
    top: 90px;
    background: #4CAF50;
    display: block;
}
.my-spider-link-wrap .my-spider-spread-image{
    top: 60px;
}

.my-spider-link-wrap:hover .my-spider-spread-image,
.my-spider-link-wrap:hover .my-spider-link-next{
    display: block;
}
.my-spider-link-wrap .my-spider-spread-image.my-spider-link-success,
.my-spider-link-wrap .my-spider-link-next.my-spider-link-success{
    background: #4CAF50;
    display: block;
}
.my-spider-link-wrap .my-spider-spread-image.my-spider-link-error,
.my-spider-link-wrap .my-spider-link-next.my-spider-link-error{
    background: #F44336;
    display: block;
}