body{
}
a{
    cursor: pointer;
}
.spread-red{
    color: #f44336;
}
#app{
    box-sizing: border-box;
    margin-bottom: 50px;
}
.main{
    max-width: 1200px;
    min-width: 780px;
    margin: auto;
}
.fr{
    float: right;
}
.search{
    padding: 20px 0;
    box-sizing: content-box;
    height: 34px;
    margin-bottom: 10px;
}
.search-inner{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 1px 0px 8px 0 rgba(0, 0, 0, 0.38);
    z-index: 1;
}
.title{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.table{
    border-bottom: 1px solid #ddd;
}
.bottom-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.page .pagination{
    margin: 0;
    overflow: hidden;
    display: block;
}

th{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pointer{
    cursor: pointer;
}
.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
}

.arrow.asc {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #337ab9;
}

.arrow.dsc {
    border-left: 6px solid transparent;
    border-right:6px solid transparent;
    border-top: 6px solid #337ab9;
}






















