[contenteditable]{
    outline: none;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.modal-container {
    display: inline-block;
    text-align: left;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}
.modal-default-button {
    float: right;
}
.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



/*



*/
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-close{
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.header-close:hover{
    font-weight: bold;
    color: red;
}

.model-body-inner{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.spread-wrap{
    border: 1px solid #f2f2f2;
}
.spread-wrap + div {
    margin-left: 10px;
}
.spread{
    width: 320px;
    overflow: hidden;
    font-family: "Microsoft YaHei", "微软雅黑";
}
.spread-header{
    background: #f2f2f2;
    color: #f44336;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}
.spread-title{
    line-height: 18px;
}
.spread-body{
    margin: 15px 0;
    border: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
    position: relative;
    max-height: 220px;
    overflow: hidden;
}
.spread-body img{
    width: 100%;
    position: relative;
}
.spread-flage{
    position: absolute;
    left: 20px;
    top:0;
    width: 45px;
    z-index: 1;
}
.spread-flage img{
    width: 100%;
}
.spread-desc{
    padding: 0 20px;
    margin-bottom: 20px;
}
.spread-tedian{
    color: #808080;
    font-size: 14px;
    overflow : hidden;
    max-height: 54px;
    line-height: 18px;
}
.spread-erweima{

}
.spread-cps{
    font-size: 16px;
}
.spread-green{
    color: #32CD74;
}
.spread-red{
    color: #f44336;
}
.spread-bottom-left{
    width: 80px;
    font-size: 12px;
}
.spread-bottom-left img + div{
    transform: scale(0.75) translateX(-24px);
    width: 133px;
}
.spread-bottom-left img{
    width: 100%;
}
.spread-erweima{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 20px;
}
.spread-bottom-right{
    flex: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
.spread-logo{
    height: 25px;
    margin-bottom: 2px;
}
.spread-logo img{
    height: 100%;
}
.spread-title{
    overflow : hidden;
    max-height: 36px;
    font-size: 14px;
    color: #000;
}
.spread-price .spread-red{
    font-size: 15px;
    margin-right: 10px;
}
.spread-gray{
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
}

.spread-discount{
    color: #fff;
    font-size: 16px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 12px;
}

.spread-download-png{
    cursor:pointer;
    background-color:rgb(244, 67, 54);
    color: #fff;
    border-radius:3px;
    margin: 0 10px;
    padding: 3px 5px;
    font-size: 14px;
    margin-top: 10px;
}
.spread-wrap[data-front]{
    position: fixed;
    background-color: #fff;
    left:0;
    top:0;
    z-index: 2147483649;
    display: flex;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.39);
    align-items: flex-start;
}
.spread-wrap[data-front] .spread{
    border-right: 1px solid #eaeaea;
}











