<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>已选取商品管理</title>
    <link href="style/manage-list.css" rel="stylesheet" type="text/css">
    <link href="script/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="script/libs/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="script/libs/viewer/css/viewer.min.css" rel="stylesheet" type="text/css">
    <link href="style/model.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="app" class="main">
    <div class="search">
        <div class="search search-inner">
            <div class="main">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="control-label">关键词</label>
                        <input ref="keyword" type="text" class="form-control" placeholder="关键词">
                    </div>
                    <div class="form-group">
                        <label class="control-label">电商</label>
                        <select  ref="shop" class="form-control">
                            <option value="">请选择</option>
                            <option value="tmall">天猫</option>
                            <option value="taobao">淘宝</option>
                            <option value="jd">京东</option>
                            <option value="amazon">亚马逊</option>
                            <option value="suning">苏宁</option>
                        </select>
                    </div>
                    <button @click="searchKeyword" type="button" class="btn btn-default">搜索</button>
                    <a href="#" class="fr" v-if="popup" @click="toManageList">管理</a>
                </form>
            </div>
        </div>
    </div>
    <div class="">
        <form id="app-form-table">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th width="10%">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="chkall" @click="selectcheckbox('#app-form-table')">电商
                            </label>
                        </th>
                        <th width="25%">名称</th>
                        <th width="10%" @click="sortPrice" class="pointer">现价<span class="arrow" :class="{asc:sort_price_type_acs,dsc:!sort_price_type_acs}"></span></th>
                        <th width="10%">原价</th>
                        <th width="10%" @click="sortDiscount" class="pointer">折扣<span class="arrow" :class="{asc:sort_discount_type_acs,dsc:!sort_discount_type_acs}"></span></th>
                        <th width="10%">图片</th>
                        <th width="10%">时间</th>
                        <th width="15%" align="center">操作</th>
                    </tr>
                </thead>
                <tbody v-if="list.length">
                    <tr v-for="item in list">
                        <td>
                            <label class="checkbox-inline">
                                <input type="checkbox" :value="item.id">{{ item.mall||item.shop }}
                            </label>
                        </td>
                        <td>
                            <div class="title">
                                <a :href="item.url" target="_blank"><span v-html="keyWordRed(item.title,keyword)"></span></a>
                            </div>
                        </td>
                        <td>¥{{ item.price }}</td>
                        <td>{{ item.mark_price?'¥'+item.mark_price:'' }}</td>
                        <td>{{ item.discount }}</td>
                        <td>
                            <template v-if="item.pic"><a @click="showPic(item.id,item)">查看</a></template>
                            <template v-else>无</template>
                        </td>
                        <td>{{ item.addtime | filterTime }}</td>
                        <td>
                            <a @click="deleteItem(item.id,item)">删除</a> |
                            <template v-if="item.included">
                                <span>已收录</span>
                            </template>
                            <a @click="toCatch(item.id,item)" v-else>收录</a>
                            <template v-if="!popup">
                                | <a @click="showModelSpread(item.id,item)">传播图</a>
                            </template>

                        </td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr>
                        <td colspan="9999"><p>没有数据...</p></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <ul id="dowebok" v-if="pic.length" style="display:none!important;">
        <li v-for="item in pic"><img :src="item"></li>
    </ul>

    <div class="bottom-wrap">
        <div>
            <button @click="deleteBat('#app-form-table')" type="button" class="btn btn-danger">删除</button>
        </div>
        <div>
            <!--<nav class="page navigation">-->
                <!--<ul class="pagination">-->
                    <!--<li>-->
                        <!--<a href="#" aria-label="Previous">-->
                            <!--<span aria-hidden="true">&laquo;</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li><a href="#">1</a></li>-->
                    <!--<li><a href="#">2</a></li>-->
                    <!--<li><a href="#">3</a></li>-->
                    <!--<li><a href="#">4</a></li>-->
                    <!--<li><a href="#">5</a></li>-->
                    <!--<li>-->
                        <!--<a href="#" aria-label="Next">-->
                            <!--<span aria-hidden="true">&raquo;</span>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</nav>-->
        </div>
    </div>

    <modal v-show="showModal" @close="showModal = false">
        <div slot="header" class="header">
            <div class="header-left">
                <span>生成传播图</span>
                <span v-if="noCps=='check'" class="spread-green spread-cps">CPS正在检查中...</span>
                <span v-else-if="noCps=='no-cps'" class="spread-red spread-cps">没有CPS链接</span>
                <span class="spread-green spread-cps" v-else="noCps=='ok-cps'">有CPS链接</span>
            </div>
            <div class="header-close" @click="showModal = false">╳</div>
        </div>
        <div slot="body" class="model-body-inner">
            <div class="spread-wrap">
                <div ref="spread-download" class="spread">
                    <div class="spread-header" contenteditable="true">每日大牌折扣</div>
                    <div class="spread-body">
                        <div class="spread-flage" v-if="discount>0 && discount<10">
                            <img :src="`${My$.pluginsPath}images/i-discount.png`">
                            <div class="spread-discount">{{ discount }}折</div>
                        </div>
                        <img :src="spread.cover"
                             @mousedown.stop.prevent="mousedown"
                             @mousemove.stop.prevent="mousemove"
                             @mouseup.stop.prevent="mouseup"
                             @mouseout.stop.prevent="mouseout"
                             ref="spread-cover"
                        />
                    </div>
                    <div class="spread-desc">
                        <div class="spread-tedian" contenteditable="true">
                            <span class="spread-red">产品特点：</span><span>{{ spread.desc?spread.desc:(spread.title?spread.title:'填写商品特点') }}</span>
                        </div>
                        <div class="spread-erweima">
                            <div class="spread-bottom-left">
                                <img :src="erweima">
                                <div contenteditable="true">长按二维码立即下单</div>
                            </div>
                            <div class="spread-bottom-right">
                                <div class="spread-title" contenteditable="true">{{ spread.title?spread.title:'填写商品' }}</div>
                                <div class="spread-price">
                                    <span class="spread-red">现价:<span contenteditable="true" @keyup="keyup('price',$event)">{{ spread.price }}</span>元</span>
                                    <span class="spread-gray">原价:<span contenteditable="true" @keyup="keyup('mark_price',$event)">{{ spread.mark_price }}</span>元</span>
                                </div>
                                <div class="spread-logo">
                                    <img :src="spread.logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div @click="download" type="button" class="spread-download-png">下载</div>
                <div class="spread-download-png model-spread-cover-wrap">
                    图片
                    <input id="model-spread-cover" @change="coverChange($event)" type="file" name="cover" class="model-spread-cover" accept="image/jpg,image/jpeg,image/png,image/gif">
                </div>
            </div>
        </div>
    </modal>
</div>

<script src="script/libs/vue.min.js"></script>
<script src="script/libs/jquery-2.2.3.js"></script>
<script src="script/libs/jquery.qrcode.min.js"></script>
<script src="script/extend.js"></script>
<script src="script/libs/viewer/js/viewer.min.js"></script>
<script src="script/libs/store.js"></script>
<script src="script/libs/store.js"></script>
<script src="script/manage.js"></script>

</body>
</html>